!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
*.class
*.jar
.pnp.*
.shadow-cljs
.yarn/*
/*-init.clj
/.cpcache
/.lein-*
/.nrepl-port
/.rebel*
/checkouts
/classes
/doc/dist
/nashorn_code_cache
/node_modules
/out
/repl
/target
pom.xml.asc
