{:deps {org.clojure/clojurescript {:mvn/version "1.10.516"}
        org.clojure/clojure {:mvn/version "1.10.0"}
        io.reactivex.rxjava2/rxjava {:mvn/version "2.2.7"}}
 :paths ["src" "assets"]
 :aliases
 {:dev
  {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                com.bhauman/rebel-readline {:mvn/version "0.1.4"}
                com.bhauman/figwheel-main {:mvn/version "0.1.9"}
                org.clojure/tools.namespace {:mvn/version "0.2.11"}
                funcool/promesa {:mvn/version "2.0.0"}}

   :extra-paths ["test" "dev-resources"]}

  :jar
  {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
   :main-opts ["-m" "hf.depstar.jar"]}

  :test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "0.0-389"}}
   :main-opts ["-m" "kaocha.runner" "unit"]
   }}}

